$main-background-color:rgb(247, 247, 247);
$card-background-color: rgb(255, 255, 255);
$text-color:rgb(53, 65, 104);
$location-date-color: rgb(146, 146, 146);
$stadium: rgb(97, 97, 97);
$view-all-button-color: rgb(219, 228, 213);







