@import "variables";



body {
    background-color: $main-background-color;
}

#header {

    h2 {
        color: rgb(53, 65, 104);
     
    }

    button {
        position: fixed;
        top: 0.8vw;
        right: 1vw;
    }
}

#results_card_holder {
    background-color: aqua;
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-evenly;



.card {
   background-color: yellow;
   width: 25vw;
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   
    .top_half {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;



        img.crest {
            width: 4vw;
            height: auto;
            max-height:75px;
            }

        .test {
            background-color: red;
            //background-image: url(crests/crest1.jpg)
            width: 2.5vw;
            height: 3.5vw;
            display: flex;
        }
    }

    .bottom_half {
            display: flex;
            flex-direction: row;
            justify-content: center;
    }

    p {
        text-align: center;
    }

    
    }

}




    @media screen and (min-width:800px) {
        #results_card_holder {
          background-color: rgb(255, 0, 221);
        }
      }