@import "variables";
@import url('https://fonts.googleapis.com/css?family=Archivo+Black" rel="stylesheet');
@import url('https://fonts.googleapis.com/css?family=Francois+One');


body {
    background-color: $main-background-color;
}

#header {
    padding-bottom: 25px;
}

    h2 {
        color: rgb(53, 65, 104);
        font-family: 'Francois One', sans-serif;
        font-size: 22px;
        display: inline-block;
        padding-left: 1vw;
    }

    #view_all {
        position: absolute;
        top: 10px;
        right: 25px;
        width: 111px;
        height: 40px;
        background-color: aqua;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background-color: $view-all-button-color;
        color: $text-color;
        font-family: 'Francois One', sans-serif;
    }

#results_card_holder {
    display: flex;
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-around;


.card {
   background-color: $card-background-color;
   width: 360px;
   height: 195px;
   display: flex;
   flex-direction: column;
   justify-content: space-evenly;
   padding-top: 60px;
   padding-bottom: 50px;

   .results {
    color: $text-color;
    font-weight: bold;
    font-family: 'Archivo Black', sans-serif;
    text-align: center;  
    }
   
    .top_half {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        padding-top: 0px;
     

        .score_line {
            font-size: 45px;
            color: $text-color;
            font-weight: bold;
            font-family: 'Francois One', sans-serif;
        }

        .crest {
            background-position: center;
            width: 54px;
            height: 100px;
            display: flex;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }

    .information {
            font-family: 'Archivo Black', sans-serif;
            font-size: 1.1vw;
            text-align: center;
    }

    }

    .date {
        color: $stadium;
    }

    .venue {
        color: $location-date-color;
    }

}

    @media only screen and (max-width: 700px) {
        .date, .venue {
            font-size: 3vw;
    }
      }